div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.social p.title {
    padding-bottom: 1px;
}
.social .m-social {
    margin-top: 1px;
}

hr.line {
   display:none;
}

.m-new {
    display: inline-block;
    position: relative;
    height: 83px;
    width: 100%;
    border-bottom: 2px solid #d4d3d0;  
    margin-bottom: 0;  
}

.m-new .news-text {
    overflow: hidden;
    height: 40.5px;
}

.m-news-container {
    height: 420px;
}

.m-new .date {
    margin-top: 4px;
}

.social {
    padding: 10px 0 30px;
}