div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

 {
    min-height: 65px;
    padding: 10px 2px 5px 10px;
}


.block1 .text-banner {
    width: 70%;
}
.block1 .nav-pills > li > .pill-inner .buttom-banner {
    margin: 6px 7px 0 0;
}
.block1 .nav-pills > li > .pill-inner {
    min-height: 60px;
    padding: 10px 2px 5px 10px;
}

.block1 .nav-pills > li.active > .pill-inner,
.block1 .nav-pills > li.active > .pill-inner:hover {
  border: 2px solid #fbb738;
  background: #fff;
  color: #000;
  padding: 7px 2px 5px 7px;
  min-height: 65px;
}

.block1 .buttom-banner2 {
    margin: 18px 12px 0 15px;
}

.block1 .box-carousel {
    width: auto !important;  
}

.block1 .slider {
    padding-top: 30px;
}

.block1 {
    padding: 30px 0 0 0;
}

