.b-button {
    color: #fff;
background: #fa5151;
height: 40px;
width: 120px;
text-align: center;
font-family: 'DINPro-Bold', sans-serif;
font-size: 15px;
text-shadow: 1px 1px 0 #fa5151;
line-height: 40px;
border-radius: 4px;
clear: both;
border: none;
}
.b-button:hover {
    color: #333;
}
.shop-form {
    margin-bottom: 20px;
}