@black: #000;
@white: #fff;

@yellow: #fbb738;
@violet: #241d37;
@lightviolet: #7b7786;
@green: #55a723;
@lightgrey: #f1f2f5;
@red: #e61212;
@midgrey: #666;
@darkgrey: #3c3c3c;
@orange: #b75f1e;

@main-radius: 4px;

@media screen and (max-width: 1350px) {
    .scrollup-button{
        color: @yellow;
        &:before{
            content: url('../img/header/scrollup.png');
        }
    }
}

@media screen and (max-width: 1200px) {

    p.title {
        float: left;
        max-width: 712px;
    }

    .social {
        p.title{
            width: 100%;
        }

        .col-sm-6{
            width: 100%;
        }

        .box_bg {
            img {
                height: auto;
                width: 358px;
            }

            .box_bg_text {
                width: 358px;
            }
        }
    }

    .collections-catalog-gallery{
        height: 158px;
    }
    .usligi-pict .collections-catalog-gallery{
        height: 198px;
    }
    .usligi-pict .collections-catalog-placeholder{
        max-width: ~"calc(100% - 30px)";
    }

    .bx_ordercart_coupon{
        span.title{
            width: 100%;
        }
    }
}


@media screen and (max-width: 991px){
    .scrollup-button{
        display: none;
    }

    p.title{
        max-width: 494px;
    }

    .catalog_page{
        .usligi-pict{
            clear: none !important;
            &:nth-child(3n){
                clear: right !important;
            }
            &:nth-child(3n+1){
                clear: left !important;
            }
        }
    }
    .search-page-list{
        .usligi-pict{
            &:nth-child(2n+1){
                clear: left;
            }
        }
    }

    .shares_page .usligi-pict{
        &:nth-child(5n + 1){
            clear: none;
        }
        &:nth-child(3n + 1){
            clear: left;
        }
    }

    .rasprodaja_page .usligi-pict{
        &:nth-child(5n + 1){
            clear: none;
        }
        &:nth-child(3n + 1){
            clear: left;
        }
    }

    .collections-catalog-gallery{
        height: 198px;
    }
    .collections-catalog-placeholder{
        width: 198px;
    }
}

@media screen and (max-width: 768px) {
    .header-filter-col{
        width: 170px;
        max-width: 50%;
    }

    .item_card_page{
        .fotorama__wrap{
            margin: 0 auto;
        }
        //.fotorama__stage{
        //    min-height: 220px;
        //}
        //.fotorama__stage__shaft{
        //    display: table;
        //    width: 100%;
        //    height: 100%;
        //}
        //.fotorama__stage__frame{
        //    display: table-cell;
        //    position: static;
        //}
    }

    .mobileQuantity{
        padding-top: 30px;
        .box-position{
            &:after{
                display: block;
                content: '';
                clear: both;
            }
            &[data-parametr="metri"]{
                .kolvo{
                    margin-left: 24px;
                }
            }
            &:not(:first-child){
                margin-top: 10px;
            }
        }
        .col1{
            margin-top: 8px;
        }
        .easy2{
            font-family: "DINPro-Regular", sans-serif;
            font-size: 16px;
            margin-top: 5px;
        }
        .plus{
            font-family: "DINPro-Bold", sans-serif;
            font-size: 30px;
            color: #55a723;
            text-decoration: none;
            margin-top: -15px;
            margin-right: 10px;
            float: left;
        }
        .kolvo{
            width: 50px;
            height: 35px;
            float: left;
            text-align: center;
            line-height: 35px;
            font-family: "DINPro-Bold", sans-serif;
            font-size: 16px;
            color: #000;
            margin-right: 10px;
            background: #fff;
            border: 1px solid #f1f2f5;
            margin-top: -10px;
        }
        .minus{
            font-family: "DINPro-Bold", sans-serif;
            font-size: 30px;
            color: #b75f1e;
            text-decoration: none;
            margin-top: -15px;
            margin-right: 10px;
            float: left;
            width: 14px;
        }
    }

    .hidden-desktop{
        display: initial;
    }
    .cont2 .menu-link {
        margin: 0;
    }
    .catalog_page{
        .usligi-pict{
            clear: none !important;
            &:nth-child(2n){
                clear: right !important;
            }
            &:nth-child(2n+1){
                clear: left !important;
            }
        }
    }
    .item_card_page, .card_collection_page{
        .usligi-pict2{
            clear: none !important;
            &:nth-child(3n){
                clear: right !important;
            }
            &:nth-child(3n+1){
                clear: left !important;
            }
        }
    }
    .line-filter{
        float: left;
        width: 100%;
    }
    .filtr .mobileForm{
        display: block;
    }

    .catalog2_page .box-catalog-half{
        display: block;
    }
    .box-catalog-half .row{
        display: block;
    }
    .box-catalog-half .row > div{
        display: block;
        width: 100% !important;
        padding-bottom: 0;
    }
    .box-catalog-half .row > div:last-child{
        margin-bottom: 10%;
    }

    .search-page-form table{
        width: 100%;
    }
    .search-page{
        .row{
            margin: 0;
        }
    }

    .cart-items-inner{
        display: block;
        .row{
            display: block;
            > div{
                height: auto !important;
                padding: 0 15px 15px;
                display: block;
            }
        }
    }

    .shares_page .usligi-pict{
        &:nth-child(3n + 1){
            clear: none;
        }
        &:nth-child(2n + 1){
            clear: left;
        }
    }

    .rasprodaja_page .usligi-pict{
        &:nth-child(2n + 1){
            clear: left;
        }
        &:nth-child(3n + 1){
            clear: none;
        }
    }

    .collections-catalog-placeholder{
        width: 198px;
    }
    .collections-catalog-gallery{
        height: 198px;
    }
}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 350px) {
    .usligi-pict2 {
        width: 100%;
    }
}

@media screen and (min-width: 351px) and (max-width: 480px) {
    .usligi-pict2 {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    /*.chouse-box .text {visibility: hidden}*/;
}

@media screen and (max-width: 480px) {
    .usligi-pict {
        width: 100%;
    }

    .header-middle .logo {
        padding-top: 0;
        margin-right: 0;
        width: 30%;
        position: relative;
        top: 30%;
    }

    .header-middle .logo img {
        width: 100%;
    }

    .header-middle .phone {
        width: 70%;
        text-align: right;
    }

    .shares_page .box-slide {
        height: 70px;
    }

    .shares_page .box-slide .left {
        width: 100%;
        float: left;
        text-align: center;
    }

    .shares_page .box-slide .right {
        width: 100%;
        float: left;
        text-align: center;
    }

    .pay_page .col-xs-6 {
        width: 100%;
    }

    .catalog2_page .box-catalog-half {
        width: 100%;
        float: left;
    }

    .catalog2_page .box-article, .catalog2_page .box-easy {
        //height: 40px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 540px) {
    .news_page .col-xs-5, .news_page .col-xs-7 {
        width: 100%;
    }

    .all_for_plate_page .col-xs-5, .all_for_plate_page .col-xs-7 {
        width: 100%;
    }

    p.title2 {
        font-family: "DINPro-Regular", sans-serif;
        color: @violet;
        font-size: 24px;
        float: left;
        padding-top: 10px;
    }

    p.title {
        font-family: "DINPro-Regular", sans-serif;
        color: @violet;
        font-size: 24px;
        float: left;
        padding-top: 10px;
    }
}

@media screen and (max-width: 560px) {
    .cont2 .menu-link .item1 {
        height: 100%;
        width: 100%;
        float: left;
    }

    .cont2 .menu-link .sepa {
        visibility: hidden;
    }
}

@media screen and (max-width: 600px) {
    .box-easy-marg {
        margin-bottom: 10%;
    }

    .opt_page .box-inner .multicolom {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 20px;
    }

    .opt_page .box-inner-country .country-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .catalog2_page .box-catalog-half {
        width: 50%;
        float: left;
    }

    //.catalog2_page .box-article, .catalog2_page .box-easy {
    //    height: 40px;
    //}
}

@media screen and (min-width: 600px) and (max-width: 767px) {

    .opt_page .box-inner-country .country-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        column-gap: 20px;
    }
}

@media screen and (max-width: 767px) {
    .about {
        padding: 30px 0;
        background: url("../img/main/bg_2.png");
        text-align: center;
    }

    .carousel-line .title {
        text-align: center;
    }

    .span3 {
        float: left;
        width: 25%;
    }

    .carousel-line {
        border-bottom: 0 dashed @black;
        padding: 10px 0;
    }

    .small-h {
        float: right;
    }

    .header-middle .phone {
        float: right;
    }

    header {
        height: 230px;
    }

    .header-button {
        height: 25px;
    }

    .block1 {
        background: url("../img/main/bg.png");
        padding: 10px 0;
    }

    .block1 .box1 {
        width: 23%;
        overflow: hidden;
        position: relative;
        float: left;
        background: none;
    }

    .block1 .box2 {
        width: 48%;
        overflow: hidden;
        position: relative;
        float: left;
        background: none;
    }

    .block1 .pad {
        min-width: 2%;
        float: left;
        height: 150px;
    }

    .block1 .box1 img, .block1 .box2 img {
        display: block;
        border: none;
        height: 150px;
    }

    .block1 .box1 span, .block1 .box2 span {
        font-size: 10px;
        padding: 5px 15px 5px 5px;
        margin: 0;
    }

    .label-text {
        display: inline-block;
        width: 100%;
    }

    .label-text2 {
        display: inline-block;
        width: 100%;
    }

    select.filters2 {
        width: 100%;
        padding: 6px 7px;
    }

    .sbHolder2 {
        width: 100%;
    }

    .pay_page .easy3 {
        width: 100%;
    }

    .pay_page .end {
        margin-bottom: 5px;
    }

    .fotorama__nav.fotorama__nav--dots {
        visibility: hidden;
    }

    .card_collection_page .box-opis {
        background: @white;
        padding: 20px;
    }

    .cart_page .box {
        width: 100%;
    }

    .cart_page .box-inner2 {
        padding: 20px 20px 90px;
        margin: 0 -20px -20px;
    }

    .cart_page .box-inner2 .itogo {
        margin-right: 0;
        float: right;
        width: 100%;
        text-align: center;
    }

    .cart_page .box-inner2 .buttom-media {
        float: left;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .cart_page .box-inner2 .box-inner-left{
        padding-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .box-inner-left .form-control{
        margin: 0 auto;
        width: 150px;
    }

    .cart_page .box-inner4 {
        padding-bottom: 20px;
    }

    .opt_page .box-inner-country {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 788px) {
    .block1 .box1 img, .block1 .box2 img {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .footer-top .menu li {
        float: left;
        padding: 0 5px;
    }

    .footer-top .menu li a {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header-middle{
        .logo{
            margin: 0;
        }
        .phone {
            font-family: "DINPro-Regular", sans-serif;
            font-size: 22px;
            color: @black;
            float: left;
            padding-top: 0;
        }
        .box-right {
            position: relative;
            width: 100%;
            padding-left: 200px;
            top: 0;
            padding-top: 18px;
        }
        .search-form {
            width: 100%;
            float: left;
            height: 58px;
            padding-top: 0;
            border-radius: @main-radius;
            font-family: "DINPro-Regular", sans-serif;
            font-size: 14px;
            color: @midgrey;
            margin-right: 0;
            padding-left: 0;
        }
        .form-control + .glyphicon {
            position: absolute;
            top: 98px;
            right: 5px;
        }
        .modal-buttom {
            border: 1px solid @yellow;
            border-radius: @main-radius;
            background: none;
            font-family: "DINPro-Bold", sans-serif;
            font-size: 12px;
            color: @black;
            margin-top: 0;
            text-transform: uppercase;
            padding: 4px 10px;
            float: right;
            margin-right: 30px;
        }
        .link-buttom {
            border: 1px solid @yellow;
            border-radius: @main-radius;
            background: @yellow;
            font-family: "DINPro-Bold", sans-serif;
            font-size: 12px;
            color: @black;
            margin-top: 20px;
            text-transform: uppercase;
            float: right;
            padding: 4px 10px;
            margin-right: 0;
        }
    }
    .header-button .menu-right {
        height: 100%;
        float: right;
    }

    .header-menu .menu-right {
        height: 100%;
        float: right;
    }

    .header-menu .menu-right li a {
        font-family: "DINPro-Bold", sans-serif;
        font-size: 10px;
        color: @violet;
        border-bottom: 1px solid @violet;
        text-decoration: none;
        text-transform: uppercase;
    }

    .footer-middle .footer-button {
        background: none;
        padding: 7px;
        border: 1px solid @yellow;
        font-family: "DINPro-Bold", sans-serif;
        font-size: 10px;
        color: @yellow;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .block1 .pad {
        height: 146px;
    }

    .block1 .box1 span, .block1 .box2 span {
        font-size: 10px;
    }

    .block1 .box-carousel {
        margin: 0 auto;
    }

    .block1 .box-centr {
        text-align: center;
    }

    .span3 {
        float: left;
        width: 25%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {

    .opt_page .box-inner .multicolom {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        column-gap: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-top .menu li {
        float: left;
        padding: 0 10px;
    }

    .footer-top .menu li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) {
    .order_status__box__left, .order_status__box__right {
        width: 100%;
    }

    .order_status__box__right {
        text-align: left;
        margin-top: 40px;
    }

    .box__right__links {
        display: block;
    }

    .box__right__more {
        position: inherit;
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 559px) {
    .lc_left {
        width: 100%;
    }

    .order_status, .regblock_right_all {
        margin: 0;
        overflow: visible;
    }
}

@media (max-width: 700px) {
    .lc_left_order_detail {
        width: 100%;
    }

    .order_detail {
        margin: 0;
        overflow: visible;
    }
}

@media screen and (max-width: 470px) {
    .regblock_right {
        width: 100%;
    }

    .nav-tabs > li {
        float: none;
    }

    .tabs_one, .tabs_two {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    .cart_page{
        > .col-sm-12{
            padding: 0;
        }
    }
    .label-text2{
        height: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .nav-tabs > li {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .regblock__tabs__fon2 {
        width: 100%;
    }

    .regblock__tabs__fon .nav-tabs > li.active > a, .nav > li > a {
        font-size: 15px;
        line-height: 27px;
    }
}