.sbHolder2{
	width: 135px;
}

.modeViewSetter{
	width: 85px;
	padding-top: 10px;
}

.modeViewSetterActive{
	font-weight: bold;
}
.m-sharing-col{
    position: absolute;
    top: 18px;
    right: 16px;
}