.test-block {
    padding: 30px 0;
    border: 1px solid #acacac;
    width: 80%;
    border-radius: 4px;
    position: fixed;
    background-color: #fff;
    display: none;
    box-sizing: padding-box;
    left:auto;
    right:auto;

}
.test-block > div {
    text-align: center;
}
.test-block .links-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.test-block .links-wrapper a, .links-wrapper button {
    padding: 5px 15px;
    border: 1px solid #acacac;
    color: #474747;
    width: 60%;
    margin-top: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    
}
.test-block .links-wrapper a {
   background-color: #fbb738;
   border-color: #fbb738;
   font-weight: bold;
   color: #000;
   padding: 5px 33px; 
}
.test-block .links-wrapper a:hover {
    text-decoration: none;
}
.mobile-add {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
}
.confirm-block i {
    color: #e61212;
    margin-right: 5px;
}

.confirm-block input[type="checkbox"] {
    display: none;
}
.confirm-block input[type="checkbox"] {
    line-height: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    box-sizing: border-box;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
 .label-text2 {
    color: #000;
    font-family: "DINPro-Regular",sans-serif;
    font-size: 14px;
    padding-top: 5px;
    color: #3c3c3c;
    display: inline-block;
    float: left;
    margin-right: 20px;
    padding-top: 10px;
}
.confirm-block label {
    margin-bottom: 0;
    font-weight: normal;
}
div.confirm-block {
    height: auto;
    padding-bottom: 10px;
}
.modal div.confirm-block {
    padding-left: 0;
    padding-right: 0;
}
.modal div.confirm-block label {
    margin-bottom: 10px;
}
.confirm-block input[type="checkbox"] + label span {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../images/icon/check.png");
    background-origin: padding-box;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: -5px;
    vertical-align: middle;
    width: 20px;
    filter: brightness(90%);
}
.confirm-block input[type="checkbox"]:checked + label span {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../images/icon/check.png");
    background-origin: padding-box;
    background-position-x: -20px;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.confirm-block .label-text2 span {
    color: #e61212;
}
.modal-wrapper-custom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.modal-wrapper-custom .modal-buttom {
    min-width: 130px;
    margin-top: 25px;
}
.modal-wrapper-custom .modal-buttom-custom {
    margin-top: 15px;
}
.custom-footer-text {
    color: #7b7786;
}
.custom-footer-text span {
    color: #fff;
}
.custom-footer-text .footer-heading {
    font-size: 18px;
    color: #fff;
}
.confirm-block span.confirm-trigger {
    background: none;
    width: auto;
    height: auto;
    display: inline;
    color: #428bca;
    cursor: pointer;
}  
.confirm-block span.confirm-trigger:hover {
    text-decoration: underline;
    color: #2a6496;
}
.confirm-block label {
    display: inline;
}
.modal-buttom-form {
    margin-top: 10px;
}
.logo {
    z-index: 1200;
}
.visual-price {
    background-color: #fbb738;
    font-weight: bold;
    padding: 2px 3px;
    display: inline-block;
}
.pay-line {
    margin: 10px 0;
    border-top-width: 2px;
    
}
.delivery_details {
    margin-bottom: 0;
}
.shop-form .b-button {
    margin-bottom: 10px;
}

#accordion .panel #collapse1 {
    position: relative;
}

#accordion .panel #collapse1 .exclusive-img {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99; 
}

.gallery-container-collections .exclusive-img {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}