div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.m-picture.box1 img, .m-picture.box2 img{
    height: auto !important;
    width: auto !important;
    display:inline;
    /*margin: 0 0 0 27% !important;*/
    }

.m-picture.box1, .m-picture.box2 {
    width: 14% !important;
    text-align: center;
    
 }
 
.m-picture.box1 span, .m-picture.box2 span {
    text-decoration: none;
    color:black;
    position:relative;
    text-align: center;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    font-family: "DINPro-Bold", sans-serif;
    font-size: 12px;
   
 }
 
@media only screen and (max-width: 768px) {
.mob-picture.box1, .mob-picture.box2 {
    width: 50% !important;
}
.mob-picture.box1 span, .mob-picture.box2 span {
    margin: 0 0 5% 0 !important;
 }
}
 
 
 
 


 
 




