.gallery-foto {
    margin-bottom: -20px;
}

.gallery-foto img {
    max-width: 100%;
}

.gallery-foto .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-foto .row .col {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px; 
    display: flex;
    align-items: flex-end;
}

.gallery-foto .row .col a {
    color: #333;
    text-decoration: none;
}

.gallery-foto .row .col a span {
    display: block;
    margin-top: 5px;
}

@media (min-width: 992px) {
    .gallery-foto .row .col {
        width: 16.66666667%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .gallery-foto .row .col {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .gallery-foto .row .col {
        width: 50%;
    }
}