.usligi-pict-custom a {
    font-family: "DINPro-Bold",sans-serif;
    font-size: 15px;
    color: #241d37;
    text-decoration: underline;
}
.usligi-pict-custom a:hover {
    text-decoration: none;
}
.box-position-custom .usligi-pict-custom .box_under {
    margin-top: 20px;
}
.box-position-custom .usligi-pict-custom p.easy {
    margin-top: 0;
}
.box-position-custom .usligi-pict-custom .text-pict {
    margin-bottom: 5px;
}
.card_collection_page .box-position2.padding-modified {
    padding-top: 35px;
}