div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.confirm-block i {
    color: #e61212;
    margin-right: 5px;
}

.confirm-block input[type="checkbox"] {
    display: none;
}
.confirm-block input[type="checkbox"] {
    line-height: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    box-sizing: border-box;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
 .label-text2 {
    color: #000;
    font-family: "DINPro-Regular",sans-serif;
    font-size: 14px;
    padding-top: 5px;
    color: #3c3c3c;
    display: inline-block;
    float: left;
    margin-right: 20px;
    padding-top: 10px;
}
.regblock__content__form .confirm-block label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
}
div.confirm-block {
    height: auto;
    padding-left: 0;
    padding-right: 0;
}
.modal div.confirm-block {
    padding-left: 0;
    padding-right: 0;
}
.modal div.confirm-block label {
    margin-bottom: 10px;
}
.confirm-block input[type="checkbox"] + label span {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("images/check.png");
    background-origin: padding-box;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: -5px;
    vertical-align: middle;
    width: 20px;
    filter: brightness(90%);
}
.confirm-block input[type="checkbox"]:checked + label span {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("images/check.png");
    background-origin: padding-box;
    background-position-x: -20px;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.confirm-block .label-text2 span {
    color: #e61212;
}